.WarningText
    font-weight: 800
    font-size: 30px
    color: #ffffff
    opacity: .8
    margin: 0 auto
    margin-top: 10vh
.Main
    position: relative
    .MainBlock
        display: flex
        justify-content: center



::-webkit-scrollbar 
    width: 5px

::-webkit-scrollbar-thumb 
    background-color: white
    outline: 1px solid slategrey
        
